<div class="restaurant">
    <div class="banner">
        
    </div>
    <div class="title">
        {{restaurant.restaurantName}}
    </div>
    <div class="info">
        <div>
            {{restaurant.restaurantStreet}} {{restaurant.restaurantCity}} {{restaurant.restaurantPostCode}}
        </div>
        <div>
            {{restaurant.restaurantDescription}}
        </div>
    </div>
    <div class="carousel">
        @if (restaurant.images != undefined) {
            <p-carousel [value]="restaurant.images" [numVisible]="2" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template class="carousel-restaurant" pTemplate="item">
                    <div class="product-item">
                        <img class="product-image" src="/assets/img/list/placeholderFront.jpg" alt="image menu" />
                    </div>
                </ng-template>
            </p-carousel>
        }
    </div>
    @if(hasMenu){
        <p-carousel [value]="restaurant.images" [numVisible]="2" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="header">
                <p>Menu</p>
            </ng-template>
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img src="/assets/img/list/placeholderFront.jpg" alt="image menu" class="w-6 shadow-2" />
                    </div>
                    <div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    }
    <div class="button-grid-choice-area">
        <p-button (click)="updateDialog('visibleFirst'); setGridSize(grids[0].gridRows, grids[0].gridColumns)" [label]="grids[0].gridName" [loading]="loading"></p-button>
    
        <p-button (click)="updateDialog('visibleSecond'); setGridSize(grids[1].gridRows, grids[1].gridColumns)" [label]="grids[1].gridName" [loading]="loading"></p-button>
    
        <p-button (click)="updateDialog('visibleThird'); setGridSize(grids[1].gridRows, grids[1].gridColumns)" [label]="grids[2].gridName" [loading]="loading"></p-button>
    
        <p-button (click)="updateDialog('visibleCreate'); showNewGridForm = true; arrayRows = []; arrayColumns = []" label="Créer nouvelle grille" [loading]="loading"></p-button>
    </div>
</div>

<p-dialog [(visible)]="visibleFirst" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="grid-window">
        @if(grids[0]){
            <div class="play-zone">
                <div class="grid">
                    @for (row of arrayRows ; track $index) {
                        <div class="grid-row">
                            @for (column of arrayColumns; track $index) {
                                <a (click)="setElement(elementToPlace, row, column)">
                                <div class="grid-cell">
                                        <img [src]="getIcon(0, row, column)" />
                                    </div>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="control-panel">
                    <div class="control-title">
                        Panneau de contrôle
                    </div>
                    <div class="control-elements">
                        
                    </div>
                    <div class="control-">
                        <p-button label="Recommencer" (click)="emptyGrid()"></p-button>
                        <p-button label="Envoyer" (click)="uploadGrid()"></p-button>
                    </div>
                </div>
            </div>
        }
    </div>
</p-dialog>

<p-dialog [(visible)]="visibleSecond" [modal]="true"  [draggable]="false" [resizable]="false">

</p-dialog>

<p-dialog [(visible)]="visibleThird" [modal]="true"  [draggable]="false" [resizable]="false">

</p-dialog>

<!-- Zone de création de grille -->
<p-dialog [(visible)]="visibleCreate" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="grid-window">
        @if(showNewGridForm){
            <form [formGroup]="sizeForm" (ngSubmit)="setNewGrid(); showNewGridForm = false" class="grid-size-form">
                <input pInputText pKeyFilter="int" placeholder="Nombre de rangées" formControlName="rows" />
                <input pInputText pKeyFilter="int" placeholder="Nombre de colonnes" formControlName="columns" />
                <input pInputText placeholder="Nom de la grille" formControlName="name" />
                <p-button label="Confirmer" [loading]="loading" type="submit"></p-button>
            </form>
        }
        @if(newGrid != null && !showNewGridForm){
            <div class="play-zone">
                <div class="grid">
                    @for (row of arrayRows ; track $index) {
                        <div class="grid-row">
                            @for (column of arrayColumns; track $index) {
                                <a (click)="setElement(elementToPlace, row, column)">
                                <div class="grid-cell">
                                        <img [src]="getIconNewGrid(row, column)" />
                                    </div>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="control-panel">
                    <div class="control-title">
                        Panneau de contrôle
                    </div>
                    <div class="control-elements">
                        <ul>
                            <li class="" [class.active]="elementToPlace == 'table'"><a (click)="setElementToPlace('table')">Table</a></li>
                            <li [class.active]="elementToPlace == 'wall'" ><a (click)="setElementToPlace('wall')">Mur</a></li>
                            <li [class.active]="elementToPlace == 'window'"><a (click)="setElementToPlace('window')">Fenêtre</a></li>
                            <li [class.active]="elementToPlace == 'stair'"><a (click)="setElementToPlace('stair')">Escalier</a></li>
                            <li [class.active]="elementToPlace == 'door'"><a (click)="setElementToPlace('door')">Porte</a></li>
                            <li [class.active]="elementToPlace == 'bar'"><a (click)="setElementToPlace('bar')">Bar</a></li>
                            <li [class.active]="elementToPlace == 'tv'"><a (click)="setElementToPlace('tv')">Tv</a></li>
                        </ul>
                    </div>
                    <div class="control-">
                        <p-button label="Recommencer" (click)="emptyGrid()"></p-button>
                        <p-button label="Envoyer" (click)="uploadGrid()"></p-button>
                    </div>
                </div>
            </div>
        }
    </div>
</p-dialog>