.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    border-bottom: solid;
}
.carousel {
    width : 100%;
    justify-content: center;
    @apply flex;
}
p-carousel {
    width:80%;
    align-items:center;
}
.carousel-restaurant {
    text-align: center;
    @apply justify-between;
}
:host ::ng-deep {
    .product-item {
        .product-item-content {
            border-radius: 3px;
            margin: 1rem;
            padding: 2em ;
        }
        .product-image {
            width: 22vw;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            object-fit: cover;
            @apply mx-10;
        }
    }
}
.button-grid-choice-area {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @apply flex justify-between;
}
.grid-window {
    width : 90vw;
    height : 80vh;
    font-size: 2em;
}
.grid-size-form {
    @apply space-x-3 space-y-3;
}
.grid-area {
    
}
.play-zone {
    height : 97%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.grid {
    width : 80%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.grid-row {
    display: flex;
    justify-content: center;
}

.grid-cell {
    width : 1.8vw;
    height : 1.8vw;
    font-size: 0.3em;
    margin: 0;
    padding: 0;
}
.grid-cell img {
    width : 100%;
    height : 100%;
}
.control-panel {
    width : 20%;
    height : 100%;
    padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.control-buttons {
    text-align: center;
    
}
.reservation-form {
    @apply space-y-4;
}
.reservation-form input {
    margin-bottom: 10%;
}
.p-slider {
    
}
.control-buttons p-button {
    padding-left: 2%;
    padding-right: 2%;
}
.active {
    text-decoration: underline;
}
.pending-list {
    overflow-y: auto;
}
.is-table {
    
}
.reserved-table {
    background-color: rgba(255, 0, 0, 0.5);
}