.restaurant{
    font-size: 1em;
    border-radius: 10px;
    height: 100%;
    padding : 2%;
    overflow-y: auto;
    background-color:  white;
}
.address-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
.name-category {
    margin-right: 8px;
}
  
::ng-deep p-rating {
    font-size:large;
}
.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    border-bottom: solid;
}
.info {
    margin: 5%;
    @apply space-y-8;
}
.name-category {
    font-weight: bold;
}
.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
}
.carousel-title{
    font-size: 1.3em;
    text-align: center;
}
p-carousel {
width: 80%;
align-items: center;

.ui-carousel-items-wrapper {
    display: flex;
    justify-content: center;
}

.product-item {
    width: 100%;
    height: 45vh;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-item-content {
    box-sizing: border-box;
    padding: 2rem 0;
    width: 35vw; 
    height: 20vh; 
    }

    .product-image {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit:cover;
    }
}
}
.add-photo {
    text-align: center;
    margin-bottom: 3%;
}
.button-grid-choice-area {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @apply flex justify-between;
}
.grid-window {
    width : 90vw;
    height : 80vh;
    font-size: 2em;
}
.grid-size-form {
    @apply space-x-3 space-y-3;
}
.grid-area {
    
}
.play-zone {
    height : 97%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.grid {
    width : 80%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.grid-row {
    display: flex;
    justify-content: center;
}

.grid-cell {
    width : 1.5vw;
    height : 1.5vw;
    font-size: 0.3em;
    margin: 0;
    padding: 0;
}
.grid-cell {
    cursor: pointer;
}
.grid-cell img {
    width : 100%;
    height : 100%;
}
.control-panel {
    width : 20%;
    height : 100%;
    padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  @apply my-auto;
}
.control-title {
    border-bottom: solid 2px;
}
.tabViewPanel {
    height:100%
}
.control-buttons {
    text-align: center;
    height : 45%;
    @apply my-5;
}
.space-between-buttons{
    height : 2vh;
}
.reservation-form {
    height : 100%;
    @apply my-auto;
}
.reservation-form input {
    margin-top: 5%;
    margin-bottom: 5%;
}
.p-slider {
    
}
.control-buttons {
    margin-top: 10%;
}
.control-buttons p-button {
    padding-left: 2%;
    padding-right: 2%;
}
ul {
    list-style: none;
  }
.specific-element {
    cursor: pointer;
    @apply my-4;
}
.active {
    background-color: #3498db;
  color: #fff; 
  border: 2px solid #2980b9;
  border-radius: 10px; 
  padding: 8px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  @apply my-4;
}
.pending-list {
    overflow-y: auto;
}
.is-table {
    
}
.reserved-table {
    background-color: rgba(255, 0, 0, 0.5);
}

.picture-window {
    align-items: center;
    @apply flex space-x-8;
}
.picture-window form {
    align-items: center;
    @apply flex space-x-8;
}
.checks {
    align-items: center;
    @apply flex space-x-1; 
}
.picture-info {
    
}
.highlighted-cell {
    border: 2px solid green;
    box-shadow: 0 0 10px rgba(0, 255, 115, 0.7);
}