<div class="restaurant">
    <div class="restaurant-infos-area">
        <div class="title">
            {{restaurant.restaurantName}}
        </div>
        <div class="info">
            <div class="address-area">
                <span class="name-category">Adresse :</span> {{restaurant.restaurantStreet}}, {{restaurant.restaurantCity}} {{restaurant.restaurantPostCode}}
                <p-rating [(ngModel)]="rating" (onRate)="sendRating($event)" [cancel]="false"></p-rating>
            </div>
            <div class="description">
                <span class="name-category">Description :</span> <br />
                {{restaurant.restaurantDescription}}
            </div>
        </div>
    </div>
    @if(restaurant.images){
        <div class="carousel">
            <p-carousel [value]="getMenuImages(false)" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                    <p class="carousel-title">Photos du restaurant</p>
                </ng-template>
                <ng-template class="carousel-restaurant" let-image pTemplate="item">
                    <div class="product-item">
                        <img class="product-image" [src]="'data:image/png;base64,' + image.imageData" alt="image menu" />
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    }
    @if(hasMenu && restaurant.images){
        <div class="carousel">
            <p-carousel [value]="getMenuImages(true)" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                    <p class="carousel-title">Menu</p>
                </ng-template>
                <ng-template class="carousel-restaurant" let-image pTemplate="item">
                    <div class="product-item">
                        <img class="product-image" [src]="'data:image/png;base64,' + image.imageData" alt="image menu" />
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    }
    @if(checkOwnerId() == restaurant.ownerId){
        <div class="add-photo">
            <p-button (click)="updateDialog('visiblePicture')" label="Ajouter photo" [loading]="loading"></p-button>
        </div>
    }
    @if(grids.length != 0 && checkOwnerId() != userId){
        <div class="button-grid-choice-area">
            @if(grids.length > 0){
                <p-button (click)="updateDialog('visibleFirst'); setGridSize(grids[0].gridRows, grids[0].gridColumns)" [label]="grids[0].gridName" [loading]="loading"></p-button>
            }
            @if(grids.length > 1){
                <p-button (click)="updateDialog('visibleSecond'); setGridSize(grids[1].gridRows, grids[1].gridColumns)" [label]="grids[1].gridName" [loading]="loading"></p-button>
            }
            @if(grids.length > 2){
                <p-button (click)="updateDialog('visibleThird'); setGridSize(grids[2].gridRows, grids[2].gridColumns)" [label]="grids[2].gridName" [loading]="loading"></p-button>
            }
            @if(grids.length < 3 && checkOwnerId() == restaurant.ownerId){
                <p-button (click)="updateDialog('visibleCreate'); showNewGridForm = true; arrayRows = []; arrayColumns = []" label="Créer nouvelle grille" [loading]="loading"></p-button>
            }
        </div>
    }
</div>

<p-dialog [(visible)]="visibleFirst" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="grid-window">
        @if(grids[0]){
            <div class="play-zone">
                <div class="grid">
                    @for (row of arrayRows ; track $index) {
                        <div class="grid-row">
                            @for (column of arrayColumns; track $index) {
                                <a (click)="setReservation(0, row, column)">
                                <div class="grid-cell" [class.reserved-table]="displayReservations(0, row, column, sliderValue)">
                                        <img [src]="getIcon(0, row, column)" />
                                </div>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="control-panel reservation-form">
                    <p-tabView class="tabViewPanel reservation-form">
                        <p-tabPanel header="Réservation" class="tabViewPanel reservation-form">
                            <form [formGroup]="reservationForm" class="reservation-form">
                                <p-calendar class="max-w-full" formControlName="calendar" [inline]="true" [showWeek]="true" (click)="switchDay()"></p-calendar>
                                <input type="text" pInputText formControlName="timeDisplayed" class="w-full"  />
                                <p-slider formControlName="time" class="w-full" [min]="0" [max]="1440" [step]="10"></p-slider>
                            </form>
                              
                            <div class="control-buttons">
                                <p-button label="Recommencer" (click)="emptyGrid()"></p-button>
                                <p-button label="Envoyer" (click)="uploadReservation()"></p-button>
                            </div>
                        </p-tabPanel>
                        @if(checkOwnerId() == restaurant.ownerId){
                            <p-tabPanel header="En attente">
                                <div class="pending-list">

                                </div>
                            </p-tabPanel>
                        }
                    </p-tabView>
                </div>
            </div>
        }
    </div>
</p-dialog>

<p-dialog [(visible)]="visibleSecond" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="grid-window">
        @if(grids[1]){
            <div class="play-zone">
                <div class="grid">
                    @for (row of arrayRows ; track $index) {
                        <div class="grid-row">
                            @for (column of arrayColumns; track $index) {
                                <a (click)="setReservation(1, row, column)">
                                <div class="grid-cell" [class.reserved-table]="displayReservations(1, row, column, sliderValue)">
                                        <img [src]="getIcon(1, row, column)" />
                                </div>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="control-panel">
                    <p-tabView>
                        <p-tabPanel header="Réservation">
                            <form [formGroup]="reservationForm" class="reservation-form">
                                <p-calendar class="max-w-full" formControlName="calendar" [inline]="true" [showWeek]="true" (click)="switchDay()"></p-calendar>
                                <input type="text" pInputText formControlName="timeDisplayed" class="w-full"  />
                                <p-slider formControlName="time" class="w-full" [min]="0" [max]="1440" [step]="10"></p-slider>
                            </form>
                              
                            <div class="control-buttons">
                                <p-button label="Recommencer" (click)="emptyGrid()"></p-button>
                                <p-button label="Envoyer" (click)="uploadReservation()"></p-button>
                            </div>
                        </p-tabPanel>
                        @if(checkOwnerId() == restaurant.ownerId){
                            <p-tabPanel header="En attente">
                                <div class="pending-list">

                                </div>
                            </p-tabPanel>
                        }
                    </p-tabView>
                </div>
            </div>
        }
    </div>
</p-dialog>

<p-dialog [(visible)]="visibleThird" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="grid-window">
        @if(grids[2]){
            <div class="play-zone">
                <div class="grid">
                    @for (row of arrayRows ; track $index) {
                        <div class="grid-row">
                            @for (column of arrayColumns; track $index) {
                                <a (click)="setReservation(2, row, column)">
                                <div class="grid-cell" [class.reserved-table]="displayReservations(2, row, column, sliderValue)">
                                        <img [src]="getIcon(2, row, column)" />
                                </div>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="control-panel">
                    <p-tabView>
                        <p-tabPanel header="Réservation">
                            <form [formGroup]="reservationForm" class="reservation-form">
                                <p-calendar class="max-w-full" formControlName="calendar" [inline]="true" [showWeek]="true" (click)="switchDay()"></p-calendar>
                                <input type="text" pInputText formControlName="timeDisplayed" class="w-full"  />
                                <p-slider formControlName="time" class="w-full" [min]="0" [max]="1440" [step]="10"></p-slider>
                            </form>
                              
                            <div class="control-buttons">
                                <p-button label="Recommencer" (click)="emptyGrid()"></p-button>
                                <p-button label="Envoyer" (click)="uploadReservation()"></p-button>
                            </div>
                        </p-tabPanel>
                        @if(checkOwnerId() == restaurant.ownerId){
                            <p-tabPanel header="En attente">
                                <div class="pending-list">

                                </div>
                            </p-tabPanel>
                        }
                    </p-tabView>
                </div>
            </div>
        }
    </div>
</p-dialog>

<!-- Zone de création de grille -->
<p-dialog [(visible)]="visibleCreate" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="grid-window">
        @if(showNewGridForm){
            <form [formGroup]="sizeForm" (ngSubmit)="setNewGrid(); showNewGridForm = false" class="grid-size-form">
                <input pInputText pKeyFilter="int" placeholder="Nombre de rangées" formControlName="rows" />
                <input pInputText pKeyFilter="int" placeholder="Nombre de colonnes" formControlName="columns" />
                <input pInputText placeholder="Nom de la grille" formControlName="name" />
                <p-button label="Confirmer" [loading]="loading" type="submit"></p-button>
            </form>
        }
        @if(newGrid != null && !showNewGridForm){
            <div class="play-zone">
                <div class="grid">
                    @for (row of arrayRows ; track $index) {
                        <div class="grid-row">
                            @for (column of arrayColumns; track $index) {
                                <a (click)="setElement(elementToPlace, row, column)">
                                <div class="grid-cell">
                                        <img [src]="getIconNewGrid(row, column)" />
                                    </div>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class="control-panel">
                    <div class="control-title">
                        Panneau de contrôle
                    </div>
                    <div class="control-elements">
                        <ul>
                            <li class="specific-element" [class.active]="elementToPlace == 'table'"><a (click)="setElementToPlace('table')">Table</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'wall'" ><a (click)="setElementToPlace('wall')">Mur</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'window'"><a (click)="setElementToPlace('window')">Fenêtre</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'stair'"><a (click)="setElementToPlace('stair')">Escalier</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'door'"><a (click)="setElementToPlace('door')">Porte</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'bar'"><a (click)="setElementToPlace('bar')">Bar</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'tv'"><a (click)="setElementToPlace('tv')">Tv</a></li>
                            <li class="specific-element" [class.active]="elementToPlace == 'remove'"><a (click)="setElementToPlace('remove')">Supprimer</a></li>
                        </ul>
                    </div>
                    <div class="control-buttons">
                        <p-button label="Recommencer" (click)="emptyGrid()"></p-button>
                        <p-button label="Envoyer" (click)="uploadGrid()"></p-button>
                    </div>
                </div>
            </div>
        }
    </div>
</p-dialog>
<p-dialog [(visible)]="visiblePicture" [modal]="true"  [draggable]="false" [resizable]="false">
    <div class="picture-window">
            <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="storeImage($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
            <div class="checks">
                <p-checkbox [(ngModel)]="newImage.isFront" [binary]="true" inputId="isFront"></p-checkbox>
                <label for="isFront">Façade?</label>
            </div>
            <div class="checks">
                <p-checkbox [(ngModel)]="newImage.isMenu" [binary]="true" inputId="isMenu"></p-checkbox>
                <label for="isMenu">Menu?</label>
            </div>
            <p-button (click)="sendImage()" label="Envoyer" [loading]="loading"></p-button>
    </div>
</p-dialog>