<div class="list-main">
    <div class="list-top">
        <span class="list-title">
            Liste des restaurants
        </span>
        <span class="list-tri">
            <!-- <label>Trier par : </label>
            <select id="dropdown" name="dropdown">
                <option value="option1">Nom</option>
                <option value="option2">Score</option>
                <option value="option3">Nombre de votes</option>
            </select> -->
        </span>
    </div>
    <div class="list">
        @if(restaurants.length < 1){
            Aucun restaurant trouvé
        }
        @else{
            @for(r of restaurants; track r.restaurantId){
                <a [routerLink]="['/restaurant', r.restaurantId]">
                    <div class="card">
                        <div class="image-area" >
                            @if(r.restaurantImage){
                                <img [src]="'data:image/png;base64,' + r.restaurantImage" alt="façade restaurant" />
                            }
                            @else {
                                <img src="/assets/img/list/placeholderFront.jpg" alt="façade restaurant" />
                            }
                        </div>
                        <div class="info">
                            <div class="title-area">
                                <div class="title-card">
                                    {{r.restaurantName}}
                                </div>
                                <div>
                                    <p-rating [(ngModel)]="r.restaurantRating" [readonly]="true" [cancel]="false"></p-rating>
                                    ({{r.restaurantTotalRatings}})
                                </div>
                            </div>
                            <div class="address-area">
                                <span class="name-category">Adresse :</span> {{r.restaurantStreet}}, {{r.restaurantCity}} {{r.restaurantPostCode}}

                            </div>
                            <div class="description">
                                <span class="name-category">Description :</span> <br />
                                {{r.restaurantDescription}}
                            </div>
                            <div class="ratin-area">
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>