<div class="main">
    <div class="top">
        <div class="main-title">
            <img src="/assets/img/navbar/logoUmbrella.png" alt="<a href='https://pngtree.com/freepng/umbrella-icon_4859781.html'>png image from pngtree.com/</a>" routerLink="/" />
            <a routerLink="/">One Umbrella</a>
        </div>
        <div class="search-area">
            <div class="bar-area">
                <input type="text" placeholder=" Restaurant / adresse" />
                <img src="/assets/img/navbar/search.svg" alt="loupe" />
            </div>
        </div>
        <div class="account-area">
            @if(userType === "Owner"){
                <a routerLink="/own-restaurants" class="in-account">Mes restaurants</a>
            }
            @else {
                <div class="connection-choice">
                    <a (click)="showDialog('login')">Se connecter</a>
                    <a (click)="showDialog('register')">S'enregister </a>
                </div>
            }
            @if(userType === "Owner" || userType === "Customer"){
                <div>
                    <p-overlayPanel #op>
                        <p class="logout" (click)="logout()">
                            Déconnecter?
                        </p>
                    </p-overlayPanel>
                    <img [src]="avatar" alt="avatar" (click)="op.toggle($event)" />
                </div>
            }
        </div>
    </div>
    <div class="left">
        <div>
            <form [formGroup]="filterForm">
                <input type="text" placeholder="Filtre" formControlName="filter"/>
            </form>
        </div>
        @if(userType === "Owner"){
            <div class="list properties">
                
            </div>
        }
        <div>
            <span class="title-list">Favoris</span>
            <ul class="list favorites">
                <li>zzzzzzzzzzzzzzzzzzzzzzzzzzzzz</li>
            </ul>
        </div>
    </div>
</div>
<p-dialog [(visible)]="visible" [modal]="true"  [draggable]="false" [resizable]="false">
    @if(connectionChoice === "login") {
        <div class="login-container connection-window">
            <h2>Connexion</h2>
            <form [formGroup]="loginForm">
                <input pInputText id="humanIdentifier"  formControlName="humanIdentifier" placeholder="Adresse e-mail / Numéro de téléphone" />
                <input pInputText id="humanPassword" formControlName="humanPassword" placeholder="Mot de passe" /><br />
                <a (click)="connectionChoice = 'register'">Pas de compte?</a><br />
                <p-button label="Se connecter" [loading]="loading" (onClick)=" login(); load()"></p-button>
            </form>
        </div>
    }
    @else if(connectionChoice === "register") {
        <div class="register-container connection-window">
            <h2>Enregistrement</h2>
            <form [formGroup]="registerForm">
                    <input pInputText id="humanLastName"  formControlName="humanLastName" placeholder="Nom de famille" />
                    <input pInputText id="humanFirstName" formControlName="humanFirstName" placeholder="Prénom" />
                    <input pInputText id="humanMail" formControlName="humanMail" placeholder="Adresse e-mail" />
                    <input pInputText id="humanPassword" formControlName="humanPassword" placeholder="Mot de passe" />
                    <input pInputText id="humanPhoneNumber" formControlName="humanPhoneNumber" placeholder="Numéro de téléphone" />
                    <p-selectButton [options]="stateOptions" formControlName="humanType" optionLabel="label" optionValue="value" ></p-selectButton><br />
                <a (click)="connectionChoice = 'login'">Déjà un compte?</a><br />
                <p-button label="Créer mon compte" [loading]="loading" (onClick)=" register(); load()"></p-button>
            </form>
        </div>
    }
</p-dialog>
