.top {
    width:100vw;
    height:10vh;
    font-size :  2em;
    position: fixed;
    @apply flex bg-forest-500 text-forest-200 justify-between;
}
.search-area {
  width: 35%;
  @apply items-center flex;
}
.bar-area {
  height: 50%;
  min-width: 100%;
  
  @apply border-b-2 border-forest-300 flex;
}
.bar-area img{
  margin-left: auto;
  width: 1.2em;
}
.bar-area img:hover{
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  width :  100%;
}
input::placeholder {
    @apply text-forest-300;
}
.main-title {
  font-size :  2em;
  @apply items-center flex;
}
.main-title img{
  height:2em;
}
.main-title:hover {
    cursor:  pointer;
}
.account-area {
    width :  30%;
    padding-right: 0.4vw;
  @apply flex justify-end items-center;
}
.in-account{
    margin-right :  3%;
}
.account-area img {
    cursor :  pointer;
    height:3em;
}
.left{
  font-size :  2em;
  position: fixed;
  width: 13%;
  height: 90vh;
  margin-top: 10vh;
  border-top-color: white; 
  border-top-width: 1px;
  overflow-y: auto;
  @apply bg-forest-500 text-forest-200;
}
.left input {
  padding-left: 1%;
  @apply bg-forest-300;
}
.left input::placeholder{
  @apply text-forest-600;
}
.title-list{
  margin-left : 15%;
  font-size: 0.80em;
}
.left li{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  width : 90%;
  padding-left : 5%;
}